body {
    font-family: "Roboto", sans-serif;
    text-align: left;
    background-color: #1A1A1C;
}

h1 {
    color: #fdf9f9;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    color: #D8D8D8;
    
    /* border: 1px solid #ddd; */
    
}

th {
    /* background-color: #f2f2f2; */
}

tr:nth-child(even) {
    /* background-color: #f2f2f2; */
    /* border-bottom: 2px solid #D8D8D8; */
}
tr {
    /* background-color: #f2f2f2; */
    border-bottom: 2px solid #D8D8D8;
}


tr:hover {
    /* background-color: #ddd; */
}
.tableImg{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    text-align: start;
}
.red{
    color: red;
}
.green{
    color: green;
}